{
  "user_preferences": {
    "language": ["Russian", "English", "Hebrew", "Italian"],
    "folder": "/Users/dvirsaidof/Desktop/Movies"
  },
  "opensubtitles_credentials": {
    "api_key": "0wn4ZdyRrfI4YV0heVFbBzTHFiJrgwgJ"
  }
}