{
  "user_preferences": {
    "language": ["English"], # Your prefered subtitles language
    "download_folder": "", # Subtitles will be downloaded to this folder
    "logs_folder": "/var/logs"
  },
  "opensubtitles_credentials": {
    "api_key": ""  # Your open subtitles api key
  }
}
